.main_description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.desc_text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

video {
    width: 100%;
}

main .states {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center ;
    margin-bottom: 40px;
}

.list_item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 0px;
    gap: 10px;
    background: #EEFFEE;
    border: 1px solid #000000;
    border-radius: 30px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 20px;
}

.state_logo {
    width: 385px;
    height: 355px;
    border-right: #000000 solid 1px;
}

.state_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.state_text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.state_value {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333355;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.states_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 20px;
    text-align: center;
}