main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 51px 638px;
    gap: 10px;

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

input {
        /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 33px;
    gap: 10px;

    background: #EEEEFF;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    border: none;
    flex-grow: 0;
}