<head>
    <link rel="stylesheet" href="http://localhost:3000/styles/defaultStyles.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/galleryStyles.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <img alt="logo" src="http://localhost:3000/img/logo.svg" class="header_logo" onclick="onClickSwitch()"/>
        <input class="header_search" placeholder="Поиск"/>
        <div class="header_btns">
            <button class="header_btn" onclick="onClickLogin()">Войти</button>
            <button class="header_btn" onclick="onClickRegistration()">Зарегестрироваться</button>
        </div>
        <div class="header_user"></div>
    </header>

    <main>
        <div class="main_table">
            <img class="table_item" src="http://localhost:3000/img/car.png" onclick="onClickPreview('i1')" id="i1"/>
            <img class="table_item" src="http://localhost:3000/img/car.png"  id="i3" onclick="onClickPreview('i3')"/>
            <img class="table_item" src="http://localhost:3000/img/car.png" id="i4" onclick="onClickPreview('i4')"/>
            <img class="table_item" src="http://localhost:3000/img/car.png" id="i5" onclick="onClickPreview('i5')"/>
            <img class="table_item" src="http://localhost:3000/img/car.png" id="i6" onclick="onClickPreview('i6')"/>
            <img class="table_item" src="http://localhost:3000/img/car.png" id="i7" onclick="onClickPreview('i7')"/>
            <img class="table_item" src="http://localhost:3000/img/car.png" id="i8" onclick="onClickPreview('i8')"/>
            <img class="table_item" src="http://localhost:3000/img/car.png" id="i9" onclick="onClickPreview('i9')"/>
            <img class="table_item" src="http://localhost:3000/img/car.png" id="i10" onclick="onClickPreview('i10')"/>
        </div>
        <div class="main_pagination">
            <img src="img/arrow-alt-circle-left.svg" alt="left"/>
            <p class="pag_number">1</p>
            <p class="pag_number-active">1</p>
            <p class="pag_number">1</p>
            <p class="pag_number">1</p>
            <img src="img/arrow-alt-circle-right.svg" alt="right"/>
        </div>
    </main>
    <script type="text/javascript" src="http://localhost:3000/scripts/auth.js"></script>
    <script type="text/javascript" src="http://localhost:3000/scripts/galery.js"></script>
    <script type="text/javascript" src="http://localhost:3000/scripts/menu.js"></script>
    <!-- FOOTER -->
    <footer>
        <p class="footer_text">Приложение разработано студентом (Москаленко Андрем) группы КТбо4-6 в рамках лабораторной работы 1 по Web.</p>
    </footer>

    <div id="modal" onclick="onClickBG()">
        <div class="modal_auth" onclick="event.stopPropagation()">
            <h1>Авторизация</h1>
            <div class="block32"></div>
            <input placeholder="Никнэйм" id="login"/>
            <input placeholder="Пароль" id="password"/>
            <div class="block32"></div>
            <button class="header_btn" onclick="login()">Войти</button>
        </div>
    </div>

    <div class="menu" id="menu_1">
        <h1 class="menu_title">Меню</h1>
        <a class="menu_link" href="http://localhost:3000/pages/">Главная страница</a>
        <a class="menu_link" href="http://localhost:3000/pages/profile">Профиль</a>
        <a class="menu_link" href="http://localhost:3000/pages/gallery">Галлерея</a>
        <a class="menu_link">Выйти</a>
    </div>
</body>