<head>
    <link rel="stylesheet" href="http://localhost:3000/styles/defaultStyles.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/profileStyles.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <img alt="logo" src="http://localhost:3000/img/logo.svg" class="header_logo" onclick="onClickSwitch()"/>
        <input class="header_search" placeholder="Поиск"/>
        <div class="header_btns">
            <button class="header_btn" onclick="onClickLogin()">Войти</button>
            <button class="header_btn" onclick="onClickRegistration()">Зарегестрироваться</button>
        </div>
        <div class="header_user"></div>
    </header>

    <main>
        <div class="main_user">
            <img class="user_photo" src="http://localhost:3000/img/user.png"/>
            <div>
                <p class="user_info">Никнейм: <span class="user_value">NeAndrew</span></p>
                <div class="block32"></div>
                <p class="user_info">Почта: <span class="user_value">amos@sfedu.ru</span></p>
                <div class="block32"></div>
                <p class="user_info">Любимая марка машины: <span class="user_value">Dewool</span></p>
                <div class="block32"></div>
                <p class="user_info">Краткая информация: <span class="user_value">студент из Таганрога, автолюбитель)))</span></p>
            </div>
        </div>
        <div class="block32"></div>
        <div class="main_states">
            <div class="states_header">
                <p class="states_title">Статьи пользователя</p>
                <select>
                    <option>все</option>
                    <option>приватные</option>
                    <option>публичные</option>
                </select>
            </div>
            <div class="list">
                <div class="list_item">
                    <img src="http://localhost:3000/img/driver.png" alt="state_logo" class="state_logo"/>
                    <div>
                        <p class="state_title">Установка корбюратора от ВАЗ на ламборгини</p>
                        <div class="block8"></div>
                        <p class="state_text">Публичная статья</p>
                        <div class="block8"></div>
                        <p class="state_text">Автор: <span  class="state_value">NeAndrew</span></p>
                    </div>
                </div>
                <div class="list_item">
                    <img src="http://localhost:3000/img/driver.png" alt="state_logo" class="state_logo"/>
                    <div>
                        <p class="state_title">Установка корбюратора от ВАЗ на ламборгини</p>
                        <div class="block8"></div>
                        <p class="state_text">Публичная статья</p>
                        <div class="block8"></div>
                        <p class="state_text">Автор: <span  class="state_value">NeAndrew</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="http://localhost:3000/scripts/auth.js"></script>
    <script type="text/javascript" src="http://localhost:3000/scripts/menu.js"></script>
    <!-- FOOTER -->
    <footer>
        <p class="footer_text">Приложение разработано студентом (Москаленко Андрем) группы КТбо4-6 в рамках лабораторной работы 1 по Web.</p>
    </footer>

    <div id="modal" onclick="onClickBG()">
        <div class="modal_auth">
            <h1>Авторизация</h1>
            <div class="block32"></div>
            <input placeholder="Никнэйм"/>
            <input placeholder="Пароль"/>
            <div class="block32"></div>
            <button class="header_btn">Войти</button>
        </div>
    </div>

    <div class="menu" id="menu_1">
        <h1 class="menu_title">Меню</h1>
        <a class="menu_link" href="http://localhost:3000/pages/">Главная страница</a>
        <a class="menu_link" href="http://localhost:3000/pages/profile">Профиль</a>
        <a class="menu_link" href="http://localhost:3000/pages/gallery">Галлерея</a>
        <a class="menu_link">Выйти</a>
    </div>
</body>